In [1]:
#Insatlling selenium
!pip install selenium

Collecting selenium
  Downloading selenium-4.3.0-py3-none-any.whl (981 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.3.0 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.1.0

In [1]:
# Importing librabries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [95]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [96]:
url= 'https://www.naukri.com/'
driver.get(url)

In [97]:
driver

In [2]:
from selenium.webdriver.common.by import By

In [99]:
search_job=driver.find_elements(By.CLASS_NAME,'suggestor-input ')
search_job

[<selenium.webdriver.remote.webelement.WebElement (session="e210b9d096109dc0becf43fc41d96006", element="d8e4b1e0-c988-44c1-89c6-105cefa80476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e210b9d096109dc0becf43fc41d96006", element="b331e8ca-4475-4088-bfeb-425755b053e0")>]

In [100]:
search_job[0].send_keys('Data Analyst')

In [101]:
search_loc=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc

In [102]:
search_loc[0].send_keys('Bangalore')

In [103]:
search_bo=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_bo

In [105]:
search_bo[0].click()

In [106]:
titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [110]:
Company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [116]:
Rating=driver.find_elements(By.XPATH,'//span[@class="starRating fleft dot"]')

In [123]:
T=[]
C=[]

for i in range (0, len(titles)):
    T.append(titles[i].text)
    C.append(Company[i].text)

In [124]:
av=pd.DataFrame(list(zip(T,C)),
               columns =['Title', 'Company'])

In [127]:
av

,Title,Company
0,Data Analyst/Senior Data Analyst,Meesho
1,Senior Data Analyst II,Flipkart
2,Data Analyst(Skill set required: advanced SQL ...,Amazon
3,Senior Data Analyst,Walmart
4,Senior Data Management Analyst,Wells Fargo
5,Business Analyst/Data Analyst,cliqhr.com
6,Senior Data Analyst,manoramaONLINE
7,Data Analyst,Porter.in
8,Financial Data Analyst - Data & Analytics,Moody's
9,Data Analyst,ITC Infotech
10,Data Analyst / Product Analyst / Business Analyst,Benchire
11,Senior Data Analyst,Liventus
12,Data Analyst II,Cerner
13,Business Analyst/Data analyst - Payments Domain,CGI
14,Data Analyst,HyreFox Consultants Pvt Ltd
15,Data Analyst / Data Analytics / Business analy...,Aspyra HR Services
16,Legal Operations Data Analyst (I P Invoice Foc...,Applied Materials
17,Data Analyst III,Walmart
18,Senior Data Analyst,MediaMath
19,Senior Data Analyst - Data Modeling/Database D...,K & R Enterprises

In [128]:
av.head(10)

                                               Title         Company
0                   Data Analyst/Senior Data Analyst          Meesho
1                             Senior Data Analyst II        Flipkart
2  Data Analyst(Skill set required: advanced SQL ...          Amazon
3                                Senior Data Analyst         Walmart
4                     Senior Data Management Analyst     Wells Fargo
5                      Business Analyst/Data Analyst      cliqhr.com
6                                Senior Data Analyst  manoramaONLINE
7                                       Data Analyst       Porter.in
8          Financial Data Analyst - Data & Analytics         Moody's
9                                       Data Analyst    ITC Infotech

In [131]:
d=pd.DataFrame(av['Title'].head(10))

In [132]:
d

                                               Title
0                   Data Analyst/Senior Data Analyst
1                             Senior Data Analyst II
2  Data Analyst(Skill set required: advanced SQL ...
3                                Senior Data Analyst
4                     Senior Data Management Analyst
5                      Business Analyst/Data Analyst
6                                Senior Data Analyst
7                                       Data Analyst
8          Financial Data Analyst - Data & Analytics
9                                       Data Analyst

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [3]:
url= 'https://www.naukri.com/'
driver.get(url)

In [4]:
from selenium.webdriver.common.by import By

In [5]:
search_job=driver.find_elements(By.CLASS_NAME,'suggestor-input ')
search_job

[<selenium.webdriver.remote.webelement.WebElement (session="fdd3157048f3937554fd09cdcf4748ed", element="48835a96-7966-45e0-8075-2bff7f782ace")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fdd3157048f3937554fd09cdcf4748ed", element="6b2e47c0-3243-41c7-a6ed-84a8181caca2")>]

In [6]:
search_job[0].send_keys('Data Scientist')

In [7]:
search_loc=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc

In [8]:
search_loc[0].send_keys('Bangalore')

In [9]:
search_bo=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_bo

In [10]:
search_bo[0].click()

In [17]:
titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [24]:
Loc=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [28]:
Nam=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [31]:
rat=driver.find_elements(By.XPATH,'//span[@class="starRating fleft dot"]')

In [35]:
T=[]
C=[]
N=[]
R=[]
for i in range (0, len(titles)):
    T.append(titles[i].text)
    C.append(Loc[i].text)
    N.append(Nam[i].text)
    R.append(rat[i].text)

In [36]:
av=pd.DataFrame(list(zip(T,C,N,R)),
               columns =['Title', 'Location','Company','Rate'])

In [37]:
av

,Title,Location,Company,Rate
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro,3.9
1,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU,4.3
2,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL,3.9
3,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics,4.2
4,"Senior Data Scientist, Personalization",Bangalore/Bengaluru,Walmart,4.2
5,Data Scientist,Bangalore/Bengaluru,Schneider Electric,4.2
6,DigitalBCG GAMMA Data Scientist,"Bangalore/Bengaluru, New Delhi",Boston Consulting Group,4.1
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,4.2
8,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm,3.7
9,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL,4.3
10,Data Scientist,Bangalore/Bengaluru,Infosys,4.0
11,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM,4.2
12,Data Engineer - ML Ops,Bangalore/Bengaluru,VISA,4.2
13,Data Scientist,Bangalore/Bengaluru,Applied Materials,4.3
14,Data Scientist,Bangalore/Bengaluru,Applied Materials,4.3
15,Sr Research Scientist ( AI ),Bangalore/Bengaluru,Hitachi Ltd.,4.0
16,Senior Data Scientist,Bangalore/Bengaluru,Hitachi Ltd.,4.0
17,Junior Data Scientist,Bangalore/Bengaluru,Hitachi Ltd.,4.0
18,Data Scientist,Bangalore/Bengaluru,Morgan Stanley,4.1
19,Data Scientist- Assistant Manager/Manager,Bangalore/Bengaluru,Genpact,4.0

In [41]:
av[['Title','Location','Company']].head(10)

,Title,Location,Company
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
2,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
3,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
4,"Senior Data Scientist, Personalization",Bangalore/Bengaluru,Walmart
5,Data Scientist,Bangalore/Bengaluru,Schneider Electric
6,DigitalBCG GAMMA Data Scientist,"Bangalore/Bengaluru, New Delhi",Boston Consulting Group
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
8,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm
9,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [54]:
driver1=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [55]:
url= 'https://www.naukri.com/'
driver1.get(url)

In [56]:
from selenium.webdriver.common.by import By

In [57]:
search_job=driver1.find_elements(By.CLASS_NAME,'suggestor-input ')
search_job

[<selenium.webdriver.remote.webelement.WebElement (session="fa24bca545402160c4cdd991acd0a82f", element="c575826a-fd47-4720-bdeb-7111963a9b40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fa24bca545402160c4cdd991acd0a82f", element="2d49db33-04a8-4f78-90bd-8277b7b836c1")>]

In [58]:
search_job[0].send_keys('Data Scientist')

In [59]:
search_bo=driver1.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_bo

In [60]:
search_bo[0].click()

In [65]:
Loc=driver1.find_elements(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]')

In [66]:
Loc

In [67]:
Loc[0].click()

In [68]:
sal=driver1.find_elements(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')

In [69]:
sal[0].click()

In [85]:
titles=driver1.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
Loc=driver1.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
Nam=driver1.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
rat=driver1.find_elements(By.XPATH,'//span[@class="starRating fleft dot"]')
exp=driver1.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 "]')

In [90]:
Ti=[]
Lo=[]
Na=[]
ex=[]
for i in range (0, len(titles)):
    Ti.append(titles[i].text)
    Lo.append(Loc[i].text)
    Na.append(Nam[i].text)
    ex.append(exp[i].text)

In [91]:
at=pd.DataFrame(list(zip(Ti,Lo,Na,ex)),
               columns =['Title', 'Location','Name','ex'])

In [92]:
at

,Title,Location,Name,ex
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,Not disclosed
2,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,"New Delhi, Bangalore/Bengaluru"
3,Data Scientist -Machine Learning with Python,"Delhi / NCR, Noida, New Delhi, Gurgaon/Gurugra...",Genpact,5-10 Yrs
4,Data Scientist,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",SS Supply Chain Solutions Pvt. Ltd. (3SC),Not disclosed
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,"Noida, Bangalore/Bengaluru"
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Not disclosed
7,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,Not disclosed
8,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,2-5 Yrs
9,Data Scientist - Internet Jobs - II,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Jobs Territory,Not disclosed
10,Data Scientist,Gurgaon/Gurugram,Kellton Tech Solutions Limited,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
11,Machine Learning Seniors,"Hyderabad/Secunderabad, New Delhi",Walking Tree Consultancy Services pvt Ltd,1-3 Yrs
12,Hiring || Data Scientist || North Delhi || 5.5...,Delhi / NCR(Netaji Subhash Place),Shriram Automall India Limited,Not disclosed
13,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
14,Data Scientist,Gurgaon/Gurugram,T & A Solutions,4-8 Yrs
15,Dot Net Developer,"Delhi / NCR, Gurgaon/Gurugram",Nibha Infotech Private Limited,Not disclosed
16,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,Noida
17,Data Scientist (4-8 Years),"Delhi / NCR, Gurgaon/Gurugram",Redian Software Private Limited,1-6 Yrs
18,Associate Data Scientist - Java/ Scala/ Apache...,Noida,Smart work Consultants,Not disclosed
19,Database Management Expert//Ghaziabad,Ghaziabad,ABG Group,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera..."

In [94]:
at[['Title','Location','Name','ex']].head(10)

,Title,Location,Name,ex
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,Not disclosed
2,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,"New Delhi, Bangalore/Bengaluru"
3,Data Scientist -Machine Learning with Python,"Delhi / NCR, Noida, New Delhi, Gurgaon/Gurugra...",Genpact,5-10 Yrs
4,Data Scientist,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",SS Supply Chain Solutions Pvt. Ltd. (3SC),Not disclosed
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,"Noida, Bangalore/Bengaluru"
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Not disclosed
7,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,Not disclosed
8,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,2-5 Yrs
9,Data Scientist - Internet Jobs - II,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Jobs Territory,Not disclosed

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [51]:
driver2=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [52]:
url= 'https://www.flipkart.com/'
driver2.get(url)

In [53]:
from selenium.webdriver.common.by import By
search_job=driver2.find_elements(By.CLASS_NAME,'_3704LK')
search_job

In [54]:
search_job[0].send_keys('sunglasses')

In [55]:
from selenium.webdriver.common.keys import Keys
search_job[0].send_keys(Keys.ENTER)

In [60]:
names=driver2.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [61]:
price=driver2.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [62]:
n=[]
p=[]
for i in range (0,len(names)):
    n.append(names[i].text)
    p.append(price[i].text)

In [65]:
at=pd.DataFrame(list(zip(n,p)),
               columns =['Name', 'Price'])

In [67]:
s=driver2.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
s

In [68]:
s[0].click()

In [70]:
names1=driver2.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [69]:
price1=driver2.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [71]:
n=[]
p=[]
for i in range (0,len(names)):
    n.append(names1[i].text)
    p.append(price1[i].text)

In [72]:
len(n)

40

In [73]:
at1=pd.DataFrame(list(zip(n,p)),
               columns =['Name', 'Price'])

In [75]:
si=driver2.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
si

In [76]:
si[0].click()

In [77]:
names2=driver2.find_elements(By.XPATH,'//a[@class="_2WkVRV"]')

In [78]:
price2=driver2.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [42]:
n=[]
p=[]
for i in range (0, len(names2)):
    n.append(names2[i].text)
    p.append(price2[i].text)

In [79]:
at2=pd.DataFrame(list(zip(n,p)),
               columns =['Name', 'Price'])

In [86]:
r=pd.concat([at,at1,at2], ignore_index='True').head(100)

In [87]:
r

             Name Price
0          GANSTA  ₹314
1   VINCENT CHASE  ₹649
2       Elligator  ₹315
3            SRPM  ₹224
4        Fastrack  ₹799
..            ...   ...
95      ROYAL SON  ₹759
96       Fastrack  ₹719
97       Fastrack  ₹899
98       Fastrack  ₹721
99      ROYAL SON  ₹664

[100 rows x 2 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
You will reach to the below shown webpage .

In [143]:
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [144]:
from selenium.webdriver.common.by import By

In [50]:
url= 'https://www.flipkart.com/'
driver.get(url)

In [51]:
search_job=driver.find_elements(By.CLASS_NAME,'_3704LK')
search_job

In [52]:
search_job[0].send_keys('iphone 11')

In [53]:
from selenium.webdriver.common.keys import Keys
search_job[0].send_keys(Keys.ENTER)

In [12]:
names=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')

In [13]:
price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')

In [14]:
n=[]
p=[]
for i in range (0, len(names)):
    n.append(names[i].text)
    p.append(price[i].text)

In [15]:
at=pd.DataFrame(list(zip(n,p)),
               columns =['Name', 'Price'])

In [16]:
at

                                                 Name    Price
0                     APPLE iPhone 11 (Black, 128 GB)  ₹46,999
1                     APPLE iPhone 11 (White, 128 GB)  ₹46,999
2                      APPLE iPhone 11 (White, 64 GB)  ₹41,999
3                    APPLE iPhone 11 (Purple, 128 GB)  ₹46,999
4                        APPLE iPhone 11 (Red, 64 GB)  ₹41,999
5                      APPLE iPhone 11 (Black, 64 GB)  ₹41,999
6                     APPLE iPhone 11 (Purple, 64 GB)  ₹41,999
7                     APPLE iPhone 11 (Yellow, 64 GB)  ₹41,999
8                       APPLE iPhone 11 (Red, 128 GB)  ₹46,999
9                    APPLE iPhone 11 (Yellow, 128 GB)  ₹46,999
10                     APPLE iPhone 11 (Green, 64 GB)  ₹41,999
11                    APPLE iPhone 11 (Green, 128 GB)  ₹46,999
12                 APPLE iPhone 6 (Space Grey, 16 GB)  ₹52,000
13  Apple iPhone 11 (White, 64 GB) (Includes EarPo...  ₹49,900
14  Apple iPhone 11 (Yellow, 128 GB) (Includes Ear...  ₹54,900
15  Apple iPhone 11 (Green, 64 GB) (Includes EarPo...  ₹49,900
16                    APPLE iPhone 11 (Green, 256 GB)  ₹64,900
17  Apple iPhone 11 (Red, 256 GB) (Includes EarPod...  ₹64,900
18  Apple iPhone 11 (Yellow, 64 GB) (Includes EarP...  ₹49,900
19  Apple iPhone 11 (Yellow, 256 GB) (Includes Ear...  ₹64,900
20  Apple iPhone 11 (Green, 128 GB) (Includes EarP...  ₹54,900
21  Apple iPhone 11 (Black, 64 GB) (Includes EarPo...  ₹49,900
22  Apple iPhone 11 (Red, 64 GB) (Includes EarPods...  ₹49,900
23  Apple iPhone 11 (White, 256 GB) (Includes EarP...  ₹64,900

This is just excercise

In [145]:
url= 'https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=a3db6086-050d-4b5a-bf18-7c3af0c020ab.MOBFWQ6BKRYBP5X8.SEARCH&ppt=hp&ppn=homepage&ssid=t58i1a4pxc0000001657113140442&qH=f6cdfdaa9f3c23f3'
driver.get(url)

In [153]:
si=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[2]/div/div/span[2]/span/span[1]')
si

In [154]:
si[0].click()

In [155]:
sic=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[5]/div/a/div/span')
sic

In [156]:
sic[0].click()

In [157]:
names1=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

In [158]:
fullsum=driver.find_elements(By.XPATH,'//div[@class=""]')

In [159]:
rates[0].text

'5'

In [160]:
names1[5].text

'Fabulous!'

In [161]:
r=[]
n=[]
f=[]
for i in range (0, 10):
    r.append(names1[i].text)
    n.append(rates[i].text)
    f.append(fullsum[i].text)

In [162]:
sick1=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
sick1

In [163]:
sick1[0].click()

In [164]:
names2=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates1=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullsum1=driver.find_elements(By.XPATH,'//div[@class=""]')

In [165]:
names2[0].text

'Perfect product!'

In [166]:
for i in range (0, 10):
    r.append(names2[i].text)
    n.append(rates1[i].text)
    f.append(fullsum1[i].text)

In [167]:
len(r)

20

In [168]:
sick2=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]')
sick2

In [169]:
sick2[0].click()

In [170]:
name2=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates2=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

In [171]:
fullsum2=driver.find_elements(By.XPATH,'//div[@class=""]')

In [172]:
len(r)

20

In [173]:
for i in range (0, 10):
    r.append(name2[i].text)
    n.append(rates2[i].text)
    f.append(fullsum2[i].text)

In [174]:
len(n)

30

In [175]:
sick3=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]')
sick3

In [176]:
sick3[0].click()

In [177]:
name3=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates3=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullsum3=driver.find_elements(By.XPATH,'//div[@class=""]')

In [178]:
name3[0].text

'Perfect product!'

In [179]:
for i in range (0, 10):
    r.append(name3[i].text)
    n.append(rates3[i].text)
    f.append(fullsum3[i].text)

In [180]:
len(r)

40

In [181]:
at=pd.DataFrame(list(zip(n,r,f)),
               columns =['Rating','Review','Full Description'])

In [183]:
sick4=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
sick4

In [184]:
sick4[0].click()

In [185]:
name=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

In [186]:
rates=driver.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]')

In [187]:
fullsum=driver.find_elements(By.XPATH,'//div[@class=""]')

In [188]:
print(len(name),len(rates),len(fullsum))

10 10 10

In [195]:
rates[4].text[0]

'1'

In [196]:
p=[]
o=[]
g=[]
for a in range(0,len(name)):
    p.append(rates[a].text[0])
    o.append(name[a].text)
    g.append(fullsum[a].text)

In [197]:
at1=pd.DataFrame(list(zip(p,o,g)),
               columns =['Rating','Review','Full Description'])

In [214]:
sick5=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
sick5

In [215]:
sick5[0].click()

In [223]:
name5=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates5=driver.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]')
fullsum5=driver.find_elements(By.XPATH,'//div[@class=""]')

In [224]:
print (len(name5),len(rates5),len(fullsum5))

10 10 10

In [226]:
p=[]
o=[]
g=[]
for i in range (0, len(name5)):
    p.append(name5[i].text)
    o.append(rates5[i].text[0])
    g.append(fullsum5[i].text)

In [227]:
sick6=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')

In [228]:
sick6[0].click()

In [232]:
name6=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates6=driver.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]')
fullsum6=driver.find_elements(By.XPATH,'//div[@class=""]')

In [233]:
print (len(name6),len(rates6),len(fullsum6))

10 10 10

In [235]:
rates6[0].text[0]

'4'

In [236]:
for i in range (0,len(name6)):
    p.append(name6[i].text)
    o.append(rates6[i].text[0])
    g.append(fullsum6[i].text)

In [237]:
len(p)

20

In [238]:
at2=pd.DataFrame(list(zip(o,p,g)),
              columns =['Rating','Review','Full Description'])

In [240]:
sick7=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
sick7[0].click()

In [241]:
name6=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates6=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullsum6=driver.find_elements(By.XPATH,'//div[@class=""]')

In [242]:
rates61=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')

In [243]:
print(len(name6),len(rates6),len(fullsum6))

10 10 10

In [247]:
p=[]
o=[]
g=[]
for i in range (0, len(name6)):
    p.append(rates6[i].text)
    o.append(name6[i].text)
    g.append(fullsum6[i].text)

In [248]:
at3=pd.DataFrame(list(zip(p,o,g)),
              columns =['Rating','Review','Full Description'])

THis is the maximum the flipkart page is showing only 7 pages of review

In [251]:
sick8=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
sick8[0].click()

In [252]:
name8=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates8=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullsum8=driver.find_elements(By.XPATH,'//div[@class=""]')

In [253]:
print(len(name6),len(rates6),len(fullsum6))

10 10 10

In [254]:
p=[]
o=[]
g=[]
for i in range (0, len(name6)):
    p.append(rates8[i].text)
    o.append(name8[i].text)
    g.append(fullsum8[i].text)

In [255]:
sick9=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
sick9[0].click()

In [256]:
name8=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates8=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullsum8=driver.find_elements(By.XPATH,'//div[@class=""]')

In [258]:
print(len(name8),len(rates8),len(fullsum8))

10 10 10

In [259]:
for i in range (0, len(name6)):
    p.append(rates8[i].text)
    o.append(name8[i].text)
    g.append(fullsum8[i].text)

In [260]:
sick10=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
sick10[0].click()

In [261]:
name8=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
rates8=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
fullsum8=driver.find_elements(By.XPATH,'//div[@class=""]')

In [263]:
name8[0].text

'Classy product'

In [262]:
for i in range (0, len(name6)):
    p.append(rates8[i].text)
    o.append(name8[i].text)
    g.append(fullsum8[i].text)

In [264]:
at6=pd.DataFrame(list(zip(p,o,g)),
              columns =['Rating','Review','Full Description'])

In [268]:
at6

,Rating,Review,Full Description
0,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
1,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
2,5,Awesome,Can’t beat the software and hardware integrati...
3,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
4,5,Awesome,The phone is completely good\nAs far as camera...
5,3,Decent product,Everything u ll like it when u use this iPhone...
6,5,Best in the market!,Really very nice... my dad gifted me really I ...
7,5,Mind-blowing purchase,Released in 2019\nIn 2021 still the best in se...
8,5,Classy product,I got this phone for good price hence 5 star f...
9,4,Wonderful,I genuinely liked it. One of the best mobile p...
10,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
11,5,Fabulous!,Good product nice experience with Flipkart but...
12,4,Pretty good,I've used this phone for over a month now and ...
13,4,Good quality product,I was torn between the oneplus 8 pro and the i...
14,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."
15,5,Worth every penny,iPhone is delivered on time. Display is great ...
16,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
17,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
18,5,Super!,It's a great phone. From camera to display eve...
19,5,Just wow!,"Not mere a phone , Its more than that for fun ..."
20,5,Classy product,Got my iPhone 11 today! It’s totally worth it ...
21,5,Great product,"Great quality at not so great price, But worth..."
22,5,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
23,5,Most Price worthy Iphone,Reviewing within 1st Month\n\n\n1st Month Revi...
24,5,Excellent,Value for money product. This iphone 11 is rea...
25,5,Excellent,🤩🤩🤩🤩🤩🤩I loved the Phone.. Every time I pick up...
26,5,Worth every penny,I upgraded from one plus 6 to iPhone 11 and it...
27,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
28,5,Best in the market!,The only thing i didnt like about the phone is...
29,5,Perfect product!,At time of writing this review this phone proc...

In [273]:
e=pd.concat([at,at1,at2,at3,at6],ignore_index=True)

In [275]:
e.head(100)

,Rating,Review,Full Description
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Worth every penny,iPhone is delivered on time. Display is great ...
96,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
97,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
98,5,Super!,It's a great phone. From camera to display eve...
99,5,Just wow!,"Not mere a phone , Its more than that for fun ..."

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [79]:
from selenium.webdriver.common.by import By
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')
url= 'https://www.flipkart.com/'
driver.get(url)
search_job=driver.find_elements(By.CLASS_NAME,'_3704LK')
search_job[0].send_keys('sneakers')
from selenium.webdriver.common.keys import Keys
search_job[0].send_keys(Keys.ENTER)

In [118]:
b=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
p=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
r=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
d=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [119]:
print(len(b), len(p), len(r), len(d))

40 40 40 40

In [122]:
g=[]
j=[]
m=[]
n=[]
for i in range (0,len(b)):
    g.append(b[i].text)
    j.append(p[i].text.split('\n')[1])
    m.append(r[i].text)
    n.append(d[i].text)

In [123]:
print(len(g), len(j), len(m), len(n))

40 40 40 40

In [125]:
s=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
s[0].click()

In [128]:
b=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
p=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
r=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
d=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [129]:
for i in range (0,len(b)):
    g.append(b[i].text)
    j.append(p[i].text.split('\n')[1])
    m.append(r[i].text)
    n.append(d[i].text)

In [130]:
print(len(g), len(j), len(m), len(n))

80 80 80 80

In [131]:
si=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
si[0].click()

In [132]:
b=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
p=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
r=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
d=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [133]:
for i in range (0,len(b)):
    g.append(b[i].text)
    j.append(p[i].text.split('\n')[1])
    m.append(r[i].text)
    n.append(d[i].text)

In [134]:
print(len(g), len(j), len(m), len(n))

120 120 120 120

In [141]:
at3=pd.DataFrame(list(zip(g,j,m)),
              columns =['Brand','Product Description','Price'])

In [142]:
at3.head(100)

             Brand                                Product Description Price
0      ZF - ALFIYA                                   Sneakers For Men  ₹399
1   luxury fashion  luxury fashionable casual sneaker shoes Sneake...  ₹455
2           BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹269
3         URBANBOX                          Sneakers Sneakers For Men  ₹198
4         Magnolia                                   Sneakers For Men  ₹399
..             ...                                                ...   ...
95        Navtrend                                   Sneakers For Men  ₹455
96       India hub  Luxury Fashionable casual sneaker shoes Sneake...  ₹397
97         Stinson                                   Sneakers For Men  ₹229
98          T-ROCK  Stylish White Casual Sneakers shoes Men and Bo...  ₹399
99  luxury fashion                                   Sneakers For Men  ₹426

[100 rows x 3 columns]

# Q7:Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [2]:
from selenium.webdriver.common.by import By
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [3]:
url1= 'https://www.myntra.com/shoes'
driver.get(url1)

In [37]:
b=driver.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]')
p=driver.find_elements(By.XPATH,'//div[@class="product-price"]')

In [38]:
b[0].text.split('\n')

['Red Tape', 'Men Walking Shoes', 'Rs. 1349Rs. 5399(75% OFF)']

In [39]:
len(p)

50

In [40]:
p[2].text.split('Rs. ')[1]

'7050'

In [41]:
br=[]
o=[]
r=[]
for i in range (0,len(b)):
    br.append(b[i].text.split('\n')[0])
    o.append(b[i].text.split('\n')[1])
    r.append(p[i].text.split('Rs. ')[1])

In [42]:
y=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')

In [43]:
y[0].click()

In [44]:
b1=driver.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]')
p1=driver.find_elements(By.XPATH,'//div[@class="product-price"]')

In [46]:
for i in range (0,len(b1)):
    br.append(b1[i].text.split('\n')[0])
    o.append(b1[i].text.split('\n')[1])
    r.append(p1[i].text.split('Rs. ')[1])

In [47]:
ab=pd.DataFrame(list(zip(br,o,r)),
              columns =['Brand','Product Description','Price'])

In [48]:
ab

                   Brand            Product Description Price
0               Red Tape              Men Walking Shoes  1349
1   Newfeel By Decathlon              Men Walking Shoes   899
2                   Nike      Men Zoom W8 Running Shoes  7050
3               Red Tape                 Women Sneakers  1199
4                  ASIAN              Men Running Shoes   699
..                   ...                            ...   ...
95               MENGLER              Men Walking Shoes   679
96                  ALDO     Men Colourblocked Sneakers  5999
97            HIGHLANDER                   Men Sneakers   895
98              Red Tape              Men Walking Shoes  1624
99                  Nike  Women AZ PEGA38 Running Shoes  8495

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [280]:
from selenium.webdriver.common.by import By
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')
url= 'https://www.amazon.in/'
driver.get(url)

In [281]:
search_job=driver.find_elements(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_job[0].send_keys('Laptap')

In [282]:
search=driver.find_elements(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')

In [283]:
search[0].click()

In [284]:
Choose=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[13]/span/a/span')

In [285]:
Choose[0].click()

In [292]:
n=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
p=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

In [376]:
len(n)

24

In [373]:
r=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')

In [377]:
ra=[]
for e in r:
    ra.append(e.get_attribute('text'))

In [379]:
na=[]
pr=[]
ra=[]
for i in range(0,10):
    na.append(n[i].text)
    pr.append(p[i].text)
    ra.append(e.get_attribute('text'))

In [380]:
a=pd.DataFrame(list(zip(na,ra,pr)),
              columns =['Name','Rating','Price'])

In [381]:
a

,Name,Rating,Price
0,Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...,5.0 out of 5 stars,"83,603"
1,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,5.0 out of 5 stars,"86,990"
2,Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...,5.0 out of 5 stars,"75,203"
3,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",5.0 out of 5 stars,"89,990"
4,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,5.0 out of 5 stars,"86,990"
5,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",5.0 out of 5 stars,"57,890"
6,Lenovo IdeaPad Flex 5 Intel Core i7 11th Gen 1...,5.0 out of 5 stars,"80,490"
7,HP Envy 11th Gen Intel Evo Core i7 14 inch(35....,5.0 out of 5 stars,"1,01,390"
8,Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...,5.0 out of 5 stars,"87,990"
9,(Renewed) Dell Intel Core i7 7th Gen 14.Inch(3...,5.0 out of 5 stars,"55,895"

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

In [57]:
from selenium.webdriver.common.by import By
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [58]:
url= 'https://www.ambitionbox.com/'
driver.get(url)

In [59]:
search=driver.find_elements(By.XPATH,'/html/body/div[1]/nav/nav/a[6]')

In [60]:
search[0].click()

In [61]:
s=driver.find_elements(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')

In [62]:
s[0].send_keys('Data Scientist')

In [63]:
w=driver.find_elements(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')

In [64]:
w[0].click()

In [67]:
r=driver.find_elements(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')

In [68]:
r[0].click()

In [69]:
u=driver.find_elements(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')

In [70]:
u[0].send_keys('Noida')

In [71]:
p=driver.find_elements(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')

In [72]:
p[0].click()

In [49]:
b=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
p=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
r=driver.find_elements(By.XPATH,'//span[@class="body-small"]')

In [54]:
na=[]
pr=[]
ra=[]
for i in range(0,10):
    na.append(b[i].text)
    pr.append(p[i].text)
    ra.append(r[i].text)

In [55]:
a=pd.DataFrame(list(zip(na,pr,ra)),
              columns =['Job Title','Company Name','Rating'])

In [56]:
a

,Job Title,Company Name,Rating
0,Senior Data Scientist,Optum Global Solutions (India) Private Limited,4.1
1,Data Scientist- Forecasting and R or Python,GENPACT India Private Limited,4.0
2,Data Scientist,GENPACT India Private Limited,4.0
3,Data Scientist - NLP,CRMnext,4.1
4,Data Scientist - NLP,Acidaes Solutions Pvt. Ltd.,3.8
5,Data Science - Lead Data Scientist,Paytm,3.7
6,Data Scientist - Associate Vice President,Paytm,3.7
7,Data Science Trainer | AI | Machine Learning |...,Careerera,4.6
8,Senior Data Scientist - Artificial Intelligenc...,Randstad,4.1
9,Data Scientist - Python/SQL/Redshift (4-7 yrs),Telus International,4.2

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:

In [3]:
from selenium.webdriver.common.by import By
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')
url= 'https://www.ambitionbox.com/'
driver.get(url)

In [4]:
s=driver.find_elements(By.XPATH,'/html/body/div[1]/nav/nav/a[4]')

In [5]:
s[0].click()

In [33]:
o=driver.find_elements(By.XPATH, '/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
o

In [34]:
o[0].send_keys('Data Scientist')

In [35]:
from selenium.webdriver.common.keys import Keys
o[0].send_keys(Keys.ENTER)

In [38]:
b=driver.find_elements(By.XPATH,'//div[@class="company-info"]')

In [59]:
b[0].text.split('\n')

['Walmart', 'Data Scientist Salary', '3 yrs experience (based on 12 salaries)']

In [56]:
h=driver.find_elements(By.XPATH,'//div[@class="salary-values"]')

In [64]:
h[3].text.split('\n')

['₹ 11.0L', '₹ 22.5L']

In [60]:
j=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')

In [61]:
j[0].text

'₹ 30.6L'

In [65]:
n=[]
m=[]
e=[]
s=[]
l=[]
a=[]
for i in range (0, 10):
    n.append(b[i].text.split('\n')[0])
    m.append(b[i].text.split('\n')[1])
    e.append(b[i].text.split('\n')[2])
    s.append(h[i].text.split('\n')[0])
    l.append(h[i].text.split('\n')[1])
    a.append(j[i].text)

In [67]:
op=a=pd.DataFrame(list(zip(n,m,e,s,l,a)),
              columns =['Company Name','Job Title','Experience','Minimum salary','Maximum salary','average salary'])

In [69]:
op.head(10)

,Company Name,Job Title,Experience,Minimum salary,Maximum salary,average salary
0,Walmart,Data Scientist Salary,3 yrs experience (based on 12 salaries),₹ 25.0L,₹ 36.0L,₹ 30.6L
1,Ab Inbev,Data Scientist Salary,3-4 yrs experience (based on 33 salaries),₹ 15.0L,₹ 26.2L,₹ 20.8L
2,ZS,Data Scientist Salary,2 yrs experience (based on 15 salaries),₹ 11.0L,₹ 22.0L,₹ 16.7L
3,Optum,Data Scientist Salary,3-4 yrs experience (based on 32 salaries),₹ 11.0L,₹ 22.5L,₹ 15.9L
4,Reliance Jio,Data Scientist Salary,3-4 yrs experience (based on 21 salaries),₹ 5.6L,₹ 26.2L,₹ 15.7L
5,Fractal Analytics,Data Scientist Salary,2-4 yrs experience (based on 89 salaries),₹ 10.0L,₹ 23.0L,₹ 15.5L
6,Tiger Analytics,Data Scientist Salary,2-4 yrs experience (based on 51 salaries),₹ 9.0L,₹ 20.0L,₹ 14.8L
7,UnitedHealth,Data Scientist Salary,2-4 yrs experience (based on 57 salaries),₹ 8.3L,₹ 21.1L,₹ 14.0L
8,EXL Service,Data Scientist Salary,3-4 yrs experience (based on 21 salaries),₹ 7.6L,₹ 21.0L,₹ 13.2L
9,Deloitte,Data Scientist Salary,2-4 yrs experience (based on 69 salaries),₹ 7.0L,₹ 25.0L,₹ 12.8L