# 1.Scrape the details of most viewed videos on YouTube from Wikipedia.Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
# Importing librabries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys

In [2]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [3]:
# Connecting to the webpage
url= 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [4]:
# Getting to the webpage
x=driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/div[2]/ul/li[1]/a/span[2]')

In [5]:
x[0].click()

In [14]:
r=driver.find_elements(By.XPATH,'//body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td')

In [27]:
# Scapping the information in the list
ra=[]
n=[]
a=[]
u=[]
v=[]
for i in range(0,29):
    ra.append(r[(i*6)].text)
    n.append(r[((i*6)+1)].text)
    a.append(r[((i*6)+2)].text)
    u.append(r[((i*6)+3)].text)
    v.append(r[((i*6)+4)].text)

In [32]:
# Buliding Dataset using scrapped information
p= pd.DataFrame(list(zip(ra,n,a,u,v)),
               columns =['Rank', 'Name','Artist','Veiws(Billions) ','Upload Date'])

In [33]:
p

,Rank,Name,Artist,Veiws(Billions),Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.02,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.92,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.40,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.77,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.58,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.53,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.75,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.64,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.60,"February 27, 2018"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.50,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.49,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.24,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.00,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.73,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.62,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.61,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.57,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.48,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.44,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.32,"May 31, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.31,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.31,"December 3, 2015"
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,3.31,"June 25, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.27,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.24,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.24,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.21,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.20,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.19,"August 18, 2014"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [34]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [35]:
# Connecting to the webpage
url= 'https://www.bcci.tv/.'
driver.get(url)
time.sleep(2)

In [36]:
# Getting to the webpage
s=driver.find_elements(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')

In [37]:
s[0].click()
time.sleep(2)

In [62]:
# Scapping the information in the list
mt=[]
Da=[]
ti=[]
c=[]
ser=[]
pa=[]
y=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
t=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
d=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
s=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
se=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
p=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in range(0,5):
    mt.append(y[i].text)
    Da.append(t[i].text)
    ti.append(d[i].text)
    c.append(s[i].text)
    ser.append(se[i].text)
    pa.append(p[i].text.split()[-1])

In [63]:
# Buliding Dataset using scrapped information
p= pd.DataFrame(list(zip(mt,Da,ti,c,ser,pa)),
               columns =['Match Title', 'Date','Time','Club','Series Name','Place'])

In [64]:
p

,Match Title,Date,Time,Club,Series Name,Place
0,COMMONWEALTH GAMES WOMEN'S CRICKET 2022,3 AUG 2022,10:30 PM IST,"Edgbaston,",3rd T20 -,Birmingham
1,INDIA TOUR OF WEST INDIES T20 SERIES 2022,6 AUG 2022,8:00 PM IST,Central Broward Regional Park Stadium Turf Gro...,4th T20I -,Florida
2,INDIA TOUR OF WEST INDIES T20 SERIES 2022,7 AUG 2022,8:00 PM IST,Central Broward Regional Park Stadium Turf Gro...,5th T20I -,Florida
3,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,18 AUG 2022,12:45 PM IST,"Harare Sports Club,",1st ODI -,Harare
4,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,20 AUG 2022,12:45 PM IST,"Harare Sports Club,",2nd ODI -,Harare

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [67]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [68]:
# Connecting to the webpage
url= 'https://www.guru99.com/'
driver.get(url)
time.sleep(2)

In [69]:
# Getting to the webpage
f=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')

In [71]:
f[0].send_keys('selenium exception')

In [76]:
q=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button')

In [79]:
q[0].click()

In [105]:
# Scapping the information in the list
n=[]
d=[]
u=driver.find_elements(By.XPATH,'//div [@class="gsc-expansionArea"]')
for i in range (0,9):
    n.append(t[i*3])
    d.append(t[(i*3)+2])

In [96]:
t=u[0].text.split('\n')

In [106]:
d

['23-Jul-2022 ... Common Exceptions in Selenium Web driver ; NoSuchWindowException, This Exception occurs if the window target to be switch does not exist.',
 '16-Jul-2022 ... Once we set the time, the web driver will wait for the element for that time before throwing an exception. Selenium Web Driver has borrowed ...',
 '25-Jun-2022 ... Need to adjust our script in such a way that it will take care of SSL Exception/error by itself through Selenium Web driver. You Might Like: How ...',
 '09-Jul-2022 ... In Java, exceptions are mainly used for indicating different types of error conditions. In this tutorial, you will learn-. What is Exception?',
 '25-Jun-2022 ... iFrame in Selenium Webdriver is a web page or an inline frame which is embedded in ... Selenium Exception Handling (Common Exceptions List) ...',
 '18-Jun-2022 ... While Testing exception, you need to ensure that exception class you are providing in that optional parameter of @test annotation is the same.',
 '18-Jun-2022 ... Before Selenium 3, Mozilla Firefox browser was the default browser ... The resolution for this exception is to update the selenium jar file ...',
 "09-Jul-2022 ... User Defined Exception or custom exception is creating your own exception class and throw that exception using 'throw' keyword.",
 '09-Jul-2022 ... Rules of Exceptions; Python Exception Handling Mechanism; Python Try Statement; Python Catch Statement; Raise Statement in Python; Important ...']

In [107]:
# Buliding Dataset using scrapped information
p= pd.DataFrame(list(zip(n,d)),
               columns =['Name', 'Discription'])

In [108]:
p

,Name,Discription
0,Selenium Exception Handling (Common Exceptions...,23-Jul-2022 ... Common Exceptions in Selenium ...
1,"Implicit, Explicit and Fluent Wait in Selenium...","16-Jul-2022 ... Once we set the time, the web ..."
2,How to Handle SSL Certificate in Selenium WebD...,25-Jun-2022 ... Need to adjust our script in s...
3,Try Catch in Java: Exception Handling Example,"09-Jul-2022 ... In Java, exceptions are mainly..."
4,How to Handle iFrames in Selenium Webdriver: s...,25-Jun-2022 ... iFrame in Selenium Webdriver i...
5,JUnit Expected Exception Test: @Test(expected),"18-Jun-2022 ... While Testing exception, you n..."
6,Download Geckodriver: How to Install Using Fir...,"18-Jun-2022 ... Before Selenium 3, Mozilla Fir..."
7,How to Create User Defined Exception in Java,09-Jul-2022 ... User Defined Exception or cust...
8,"Python Exception Handling: try, catch, finally...",09-Jul-2022 ... Rules of Exceptions; Python Ex...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [199]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [200]:
# Connecting to the webpage
url= 'http://statisticstimes.com/ '
driver.get(url)
time.sleep(2)

In [201]:
n=driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')

In [202]:
n[0].click()

In [203]:
# Getting to the webpage
p=driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')

In [204]:
p[0].click()

In [205]:
k=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')

In [206]:
k[0].click()

In [207]:
# Scapping the information in the list
r=[]
sta=[]
g2=[]
m=driver.find_elements(By.XPATH,'//td [@class="data1"]')
n=driver.find_elements(By.XPATH,'//td [@class="name"]')
g20=driver.find_elements(By.XPATH,'//td [@class="data sorting_1"]')
for i in range(0,33):
    r.append(m[i].text)
    sta.append(n[i].text)
    g2.append(g20[i].text)

In [194]:
g1=[]
s=[]
f=[]
g19=driver.find_elements(By.XPATH,'//td [@class="data"]')
for i in range (0,33):
    g1.append(g19[i*5].text)
    s.append(g19[(i*5)+1].text)
    f.append(g19[(i*5)+4].text)

In [208]:
# Buliding Dataset using scrapped information
p= pd.DataFrame(list(zip(r,sta,g1,g2,s,f)),
               columns =['Rank', 'State', 'GSDP(18-19)', 'GSDP(19-20)','Share(18-19)','GDP($ billion)'])

In [209]:
p

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,"1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,"1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,"1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,"739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,"677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,"621,301"
8,9,Telangana,"969,604","861,031",4.56%,"612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,"522,009"
10,11,Kerala,-,"781,653",4.14%,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,"590,569"
12,13,Haryana,"831,610","734,163",3.89%,"531,085"
13,14,Bihar,"611,804","530,363",2.81%,"375,651"
14,15,Punjab,"574,760","526,376",2.79%,"397,669"
15,16,Odisha,"521,275","487,805",2.58%,"376,877"
16,17,Assam,-,"315,881",1.67%,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,"231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,"224,986"
19,20,Uttarakhand,-,"245,895",1.30%,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,"117,851"
22,23,Goa,"80,449","73,170",0.39%,"57,787"
23,24,Tripura,"55,984","49,845",0.26%,"36,963"
24,25,Chandigarh,-,"42,114",0.22%,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,"23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,"24,682"
27,28,Sikkim,"32,496","28,723",0.15%,"18,722"
28,29,Manipur,"31,790","27,870",0.15%,"19,300"
29,30,Nagaland,-,"27,283",0.14%,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,"16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-

# Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [2]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [4]:
# Connecting to the webpage
url= 'https://github.com/ '
driver.get(url)
time.sleep(2)

In [5]:
# Getting to the webpage
s=driver.find_elements(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
s[0].click()

In [6]:
q=driver.find_elements(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
q[0].click()

In [7]:
# Scapping the information in the list
ti=[]
t=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in range(0,25):
    ti.append(t[i].text)

In [8]:
de=[]
d=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in range(0,23):
     de.append(d[i].text)

In [9]:
la=[]
l=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in range(0,20):
     la.append(l[i].text)

In [10]:
s=[]
co=[]
c=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in range(0,25):
    s.append(c[((i*2)+1)].text)
    co.append(c[(i*2)].text)

In [11]:
de.insert(0,'Nan')

In [12]:
de.insert(14,'Nan')

In [13]:
la.insert(6,'Nan')

In [14]:
la.insert(10,'Nan')

In [15]:
la.insert(12,'Nan')

In [16]:
la.insert(19,'Nan')

In [19]:
la.insert(24,'Nan')

In [20]:
# Buliding Dataset using scrapped information
p= pd.DataFrame(list(zip(ti, de, co,s,la)),
               columns =['Repository title', 'Repository description ', 'Contributors count','Stars','Language'])

In [21]:
p

,Repository title,Repository description,Contributors count,Stars,Language
0,toeverything / AFFiNE,Nan,"3,230",105,TypeScript
1,utmapp / UTM,There can be more than Notion and Miro. Affine...,"14,063",875,Swift
2,NVIDIAGameWorks / kaolin-wisp,Virtual machines for iOS and macOS,512,37,Python
3,microsoft / terminal,NVIDIA Kaolin Wisp is a PyTorch library powere...,"84,523","7,463",C++
4,jina-ai / discoart,The new Windows Terminal and the original Wind...,"1,798",95,Python
5,martinshkreli / models,Create Disco Diffusion artworks in one line,262,29,Python
6,facebookresearch / ParlAI,stock market models - have fun,"9,138","1,890",Nan
7,KalleHallden / exer_log,A framework for training and evaluating AI mod...,97,23,Dart
8,juliocesarfort / public-pentesting-reports,Curated list of public penetration test report...,"5,925","1,515",CSS
9,EbookFoundation / free-programming-books,Freely available programming books,"243,987","50,162",Python
10,moyix / fauxpilot,FauxPilot - an open-source GitHub Copilot server,"3,637",95,Nan
11,josejesusguzman / acordeon-az500-innoovaccion,Lightweight full-featured WhatsApp Web + Multi...,34,10,JavaScript
12,adiwajshing / Baileys,Open-source keyboard firmware for Atmel AVR an...,"3,444","1,056",Nan
13,qmk / qmk_firmware,This project aims to enhance the working envir...,"12,995","27,601",C
14,valinet / ExplorerPatcher,Nan,"7,190",402,C
15,PKUFlyingPig / cs-self-learning,计算机自学指南,"11,328","1,582",HTML
16,lucidrains / imagen-pytorch,"Implementation of Imagen, Google's Text-to-Ima...","4,499",321,Python
17,Womsxd / AutoMihoyoBBS,米游社自动签到，支持：崩坏二、崩坏三、原神、未定事件簿，米游币自动获取,784,241,Python
18,getify / You-Dont-Know-JS,A book series on JavaScript. @YDKJS on twitter.,"157,117","30,872",C
19,coolsnowwolf / lede,Lean's OpenWrt source,"22,488","17,766",Nan
20,google-research / multinerf,"A Code Release for Mip-NeRF 360, Ref-NeRF, and...",554,31,Python
21,termux / termux-app,Termux - a terminal emulator application for A...,"14,490","1,900",Java
22,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,"51,776","9,096",C++
23,rust-lang / rust-analyzer,A Rust compiler front-end for IDEs,"10,207","1,032",Rust
24,ventoy / Ventoy,A new bootable USB solution.,"37,478","2,767",Nan

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [306]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [307]:
# Connecting to the webpage
url= 'https:/www.billboard.com/ '
driver.get(url)
time.sleep(2)

In [308]:
t=driver.find_elements(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')
t[0].click()
time.sleep(1)

In [368]:
# Scapping the information in the list
p=driver.find_elements(By.XPATH,'//div [@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]')

In [371]:
y=p[0].text.split('\n')

In [379]:
c=y[6:415]

In [380]:
c

['1',
 'About Damn Time',
 'Lizzo',
 '1',
 '1',
 '15',
 '2',
 'As It Was',
 'Harry Styles',
 '2',
 '1',
 '17',
 '3',
 'Running Up That Hill (A Deal With God)',
 'Kate Bush',
 '3',
 '3',
 '29',
 '4',
 'First Class',
 'Jack Harlow',
 '4',
 '1',
 '16',
 '5',
 'Wait For U',
 'Future Featuring Drake & Tems',
 '5',
 '1',
 '13',
 '6',
 'Break My Soul',
 'Beyonce',
 '7',
 '6',
 '6',
 '7',
 'Late Night Talking',
 'Harry Styles',
 '9',
 '4',
 '10',
 '8',
 'Me Porto Bonito',
 'Bad Bunny & Chencho Corleone',
 '6',
 '6',
 '12',
 '9',
 'I Like You (A Happier Song)',
 'Post Malone Featuring Doja Cat',
 '12',
 '9',
 '8',
 '10',
 'Heat Waves',
 'Glass Animals',
 '8',
 '1',
 '80',
 '11',
 'Bad Habit',
 'Steve Lacy',
 '14',
 '11',
 '4',
 '12',
 'Sunroof',
 'Nicky Youre & dazy',
 '16',
 '12',
 '9',
 '13',
 'Big Energy',
 'Latto',
 '11',
 '3',
 '40',
 '14',
 'Wasted On You',
 'Morgan Wallen',
 '13',
 '9',
 '37',
 '15',
 'Jimmy Cooks',
 'Drake Featuring 21 Savage',
 '10',
 '1',
 '6',
 '16',
 'Titi Me Pregunto',
 'Bad Bunny',
 '15',
 '5',
 '12',
 '17',
 'The Kind Of Love We Make',
 'Luke Combs',
 '17',
 '13',
 '6',
 '18',
 'Stay',
 'The Kid LAROI & Justin Bieber',
 '18',
 '1',
 '55',
 '19',
 'Numb Little Bug',
 'Em Beihold',
 '20',
 '18',
 '26',
 '20',
 'Ghost',
 'Justin Bieber',
 '21',
 '5',
 '44',
 '21',
 'Glimpse Of Us',
 'Joji',
 '19',
 '8',
 '7',
 '22',
 'You Proof',
 'Morgan Wallen',
 '23',
 '6',
 '11',
 '23',
 'Get Into It (Yuh)',
 'Doja Cat',
 '22',
 '20',
 '34',
 '24',
 "I Ain't Worried",
 'OneRepublic',
 '27',
 '24',
 '7',
 '25',
 'She Had Me At Heads Carolina',
 'Cole Swindell',
 '26',
 '25',
 '9',
 '26',
 'Moscow Mule',
 'Bad Bunny',
 '24',
 '4',
 '12',
 '27',
 'Shivers',
 'Ed Sheeran',
 '28',
 '4',
 '46',
 '28',
 'Vegas',
 'Doja Cat',
 '31',
 '28',
 '8',
 '29',
 'Cold Heart (PNAU Remix)',
 'Elton John & Dua Lipa',
 '29',
 '7',
 '47',
 '30',
 'Like I Love Country Music',
 'Kane Brown',
 '37',
 '26',
 '10',
 '31',
 'In A Minute',
 'Lil Baby',
 '34',
 '14',
 '16',
 '32',
 'Damn Strait',
 'Scotty McCreery',
 '39',
 '32',
 '17',
 '33',
 'Rock And A Hard Place',
 'Bailey Zimmerman',
 '42',
 '24',
 '7',
 '34',
 'Provenza',
 'Karol G',
 '41',
 '25',
 '14',
 '35',
 'Boyfriend',
 'Dove Cameron',
 '30',
 '16',
 '24',
 '36',
 'Sticky',
 'Drake',
 '32',
 '6',
 '6',
 '37',
 'Fall In Love',
 'Bailey Zimmerman',
 '35',
 '35',
 '13',
 '38',
 'Enemy',
 'Imagine Dragons X JID',
 '38',
 '5',
 '36',
 '39',
 'Super Gremlin',
 'Kodak Black',
 '43',
 '3',
 '38',
 '40',
 'Last Night Lonely',
 'Jon Pardi',
 '58',
 '40',
 '9',
 '41',
 'Something In The Orange',
 'Zach Bryan',
 '33',
 '30',
 '14',
 '42',
 'Thats What I Want',
 'Lil Nas X',
 '44',
 '8',
 '45',
 '43',
 'Woman',
 'Doja Cat',
 '40',
 '7',
 '52',
 '44',
 'Efecto',
 'Bad Bunny',
 '45',
 '34',
 '12',
 '45',
 'Hot Shit',
 'Cardi B, Ye & Lil Durk',
 '36',
 '13',
 '4',
 '46',
 'Take My Name',
 'Parmalee',
 '46',
 '22',
 '17',
 '47',
 'Left And Right',
 'Charlie Puth Featuring Jung Kook',
 '51',
 '22',
 '5',
 '48',
 '5 Foot 9',
 'Tyler Hubbard',
 '54',
 '48',
 '7',
 '49',
 'Sweetest Pie',
 'Megan Thee Stallion & Dua Lipa',
 '49',
 '15',
 '20',
 '50',
 'Thousand Miles',
 'The Kid LAROI',
 '47',
 '15',
 '14',
 '51',
 'What Happened To Virgil',
 'Lil Durk Featuring Gunna',
 '48',
 '22',
 '20',
 '52',
 'NEW',
 'TV',
 'Billie Eilish',
 '-',
 '52',
 '1',
 '53',
 'Sleazy Flow',
 'SleazyWorld Go Featuring Lil Baby',
 '52',
 '47',
 '9',
 '54',
 'Party',
 'Bad Bunny & Rauw Alejandro',
 '57',
 '14',
 '12',
 '55',
 'NEW',
 'Pressurelicious',
 'Megan Thee Stallion Featuring Future',
 '-',
 '55',
 '1',
 '56',
 'Son Of A Sinner',
 'Jelly Roll',
 '61',
 '56',
 '4',
 '57',
 'Cooped Up',
 'Post Malone Featuring Roddy Ricch',
 '55',
 '12',
 '11',
 '58',
 'Despues de La Playa',
 'Bad Bunny',
 '56',
 '6',
 '12',
 '59',
 'Betty (Get Money)',
 'Yung Gravy',
 '63',
 '59',
 '3',
 '60',
 'Numb',
 'Marshmello & Khalid',
 '69',
 '60',
 '4',
 '61',
 'Wishful Drinking',
 'Ingrid Andress With Sam Hunt',
 '65',
 '61',
 '4',
 '62',
 'So Good',
 'Halsey',
 '62',
 '55',
 '7',
 '63',
 'Trouble With A Heartbreak',
 'Jason Aldean',
 '60',
 '32',
 '19',
 '64',
 'Ojitos Lindos',
 'Bad Bunny & Bomba Estereo',
 '59',
 '26',
 '12',
 '65',
 'NEW',
 'Progress',
 'John Rich',
 '-',
 '65',
 '1',
 '66',
 "F.N.F. (Let's Go)",
 'Hitkidd & Glorilla',
 '66',
 '66',
 '9',
 '67',
 'New Truck',
 'Dylan Scott',
 '71',
 '67',
 '7',
 '68',
 '2step',
 'Ed Sheeran Featuring Lil Baby',
 '53']

In [404]:
# Scraping the information from the website and storging in the list
ra=[]
sn=[]
al=[]
lw=[]
pr=[]
wc=[]
for i in range (0,52):
    ra.append(c[(i*6)])
    sn.append(c[(i*6)+1])
    al.append(c[(i*6)+2])
    lw.append(c[(i*6)+3])
    pr.append(c[(i*6)+4])
    wc.append(c[(i*6)+5])

In [414]:
# Buliding Dataset using scrapped information
z= pd.DataFrame(list(zip(ra,sn,al,lw,pr,wc)),
               columns =['Rank', 'Song name', 'Album', 'Last week rank','Previous rank','Weeks on board'])

In [415]:
z

,Rank,Song name,Album,Last week rank,Previous rank,Weeks on board
0,1,About Damn Time,Lizzo,1,1,15
1,2,As It Was,Harry Styles,2,1,17
2,3,Running Up That Hill (A Deal With God),Kate Bush,3,3,29
3,4,First Class,Jack Harlow,4,1,16
4,5,Wait For U,Future Featuring Drake & Tems,5,1,13
5,6,Break My Soul,Beyonce,7,6,6
6,7,Late Night Talking,Harry Styles,9,4,10
7,8,Me Porto Bonito,Bad Bunny & Chencho Corleone,6,6,12
8,9,I Like You (A Happier Song),Post Malone Featuring Doja Cat,12,9,8
9,10,Heat Waves,Glass Animals,8,1,80
10,11,Bad Habit,Steve Lacy,14,11,4
11,12,Sunroof,Nicky Youre & dazy,16,12,9
12,13,Big Energy,Latto,11,3,40
13,14,Wasted On You,Morgan Wallen,13,9,37
14,15,Jimmy Cooks,Drake Featuring 21 Savage,10,1,6
15,16,Titi Me Pregunto,Bad Bunny,15,5,12
16,17,The Kind Of Love We Make,Luke Combs,17,13,6
17,18,Stay,The Kid LAROI & Justin Bieber,18,1,55
18,19,Numb Little Bug,Em Beihold,20,18,26
19,20,Ghost,Justin Bieber,21,5,44
20,21,Glimpse Of Us,Joji,19,8,7
21,22,You Proof,Morgan Wallen,23,6,11
22,23,Get Into It (Yuh),Doja Cat,22,20,34
23,24,I Ain't Worried,OneRepublic,27,24,7
24,25,She Had Me At Heads Carolina,Cole Swindell,26,25,9
25,26,Moscow Mule,Bad Bunny,24,4,12
26,27,Shivers,Ed Sheeran,28,4,46
27,28,Vegas,Doja Cat,31,28,8
28,29,Cold Heart (PNAU Remix),Elton John & Dua Lipa,29,7,47
29,30,Like I Love Country Music,Kane Brown,37,26,10
30,31,In A Minute,Lil Baby,34,14,16
31,32,Damn Strait,Scotty McCreery,39,32,17
32,33,Rock And A Hard Place,Bailey Zimmerman,42,24,7
33,34,Provenza,Karol G,41,25,14
34,35,Boyfriend,Dove Cameron,30,16,24
35,36,Sticky,Drake,32,6,6
36,37,Fall In Love,Bailey Zimmerman,35,35,13
37,38,Enemy,Imagine Dragons X JID,38,5,36
38,39,Super Gremlin,Kodak Black,43,3,38
39,40,Last Night Lonely,Jon Pardi,58,40,9
40,41,Something In The Orange,Zach Bryan,33,30,14
41,42,Thats What I Want,Lil Nas X,44,8,45
42,43,Woman,Doja Cat,40,7,52
43,44,Efecto,Bad Bunny,45,34,12
44,45,Hot Shit,"Cardi B, Ye & Lil Durk",36,13,4
45,46,Take My Name,Parmalee,46,22,17
46,47,Left And Right,Charlie Puth Featuring Jung Kook,51,22,5
47,48,5 Foot 9,Tyler Hubbard,54,48,7
48,49,Sweetest Pie,Megan Thee Stallion & Dua Lipa,49,15,20
49,50,Thousand Miles,The Kid LAROI,47,15,14
50,51,What Happened To Virgil,Lil Durk Featuring Gunna,48,22,20
51,52,NEW,TV,Billie Eilish,-,52

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [434]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [435]:
# Connecting to the webpage
url= 'https://www.naukri.com/hr-recruiters-consultants '
driver.get(url)
time.sleep(2)

In [436]:
# Getting to the webpage
w=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')

In [437]:
w[0].send_keys(' Data science ')

In [438]:
e=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
e[0].click()

In [477]:
# Scapping the information in the list
j=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
d=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
s=driver.find_elements(By.XPATH,'//p[@class="highlightable"]')
u=driver.find_elements(By.XPATH,'//div [@class="hireSec highlightable"]')

In [489]:
na=[]
de=[]
co=[]
sk=[]
lo=[]
for i in range (0,50):
    na.append(j[i].text)
    de.append(d[i].text)
    co.append(s[i].text.split('\n')[-2])
    sk.append(u[i].text)
    lo.append(s[i].text.split('\n')[-1])

In [490]:
# Buliding Dataset using scrapped information
w= pd.DataFrame(list(zip(na,de,co,sk,lo)),
               columns =['Name', 'Designation', 'Company', 'Skill','Location'])

In [491]:
w

,Name,Designation,Company,Skill,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,CEO,"Signal Processing, Machine Learning, Neural Ne...",Nanoprecise Sci Corp
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Managing Partner,"Machine Learning, Data Science, Product Manage...",Granular.ai

# 8. Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [492]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [493]:
# Connecting to the webpage
url= 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare '
driver.get(url)
time.sleep(2)

In [502]:
# Getting to the webpage
m=driver.find_elements(By.XPATH,'//td [@class="left"]')

In [522]:
g=driver.find_elements(By.XPATH,'//td [@class="last left"]')

'2'

In [526]:
# Scapping the information in the list
ra=[]
ti=[]
au=[]
v=[]
pu=[]
re=[]
for i in range (0,100):
    ra.append(m[(i*5)].text)
    ti.append(m[(i*5)+1].text)
    au.append(m[(i*5)+2].text)
    v.append(m[(i*5)+3].text)
    pu.append(m[(i*5)+4].text)
    re.append(g[i].text)

In [527]:
# Buliding Dataset using scrapped information
l= pd.DataFrame(list(zip(ra,ti,au,v,pu,re)),
               columns =['Rank', 'Book Name', 'Author name', 'Volume Sold','Publisher','Genre'])

In [528]:
l

,Rank,Book Name,Author name,Volume Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [2]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [3]:
# Connecting to the webpage
url= ' https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(2)

In [184]:
d=driver.find_elements(By.XPATH,'//span [@class="lister-item-index unbold text-primary"]')
y=driver.find_elements(By.XPATH,'//span [@class="lister-item-year text-muted unbold"]')
g=driver.find_elements(By.XPATH,'//span [@class="genre"]')
r=driver.find_elements(By.XPATH,'//span [@class="runtime"]')
rt=driver.find_elements(By.XPATH,'//body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]//div[2]/div[1]/div[1]/span[2]')
n=driver.find_elements(By.XPATH,'//body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]//div[2]/h3/a')

In [192]:
# Scapping the information in the list
ra=[]
na=[]
ye=[]
ge=[]
ru=[]
for i in range(0,99):
    ra.append(d[i].text)
    na.append(n[i].text)
    ye.append(y[i].text)
    ge.append(g[i].text)
    ru.append(r[i].text)

In [193]:
rat=[]
for i in range(0,99):
    rat.append(rt[i*2].text)

In [152]:
v=driver.find_elements(By.XPATH,'//div [@class="lister-item-content"]')

In [153]:
t=[]
for i in range(0,99):
    t.append(v[i].text.split('\n')[6])

In [196]:
vo=[]
for i in range(0,99):
    vo.append(t[i].split()[-1])

In [197]:
# Buliding Dataset using scrapped information
j= pd.DataFrame(list(zip(ra,na,ye,ge,ru,rat,vo)),
               columns =['Rank', 'Name', 'Year', 'Genre','Run time','Rating','Vote'])

In [198]:
j

,Rank,Name,Year,Genre,Run time,Rating,Vote
0,1.,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,018,335"
1,2.,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,112,126"
2,3.,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"958,564"
3,4.,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,588"
4,5.,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,162"
...,...,...,...,...,...,...,...
94,95.,iZombie,(2015–2019),"Comedy, Crime, Drama",42 min,7.8,"67,300"
95,96.,Reign,(2013–2017),Drama,42 min,7.4,"49,224"
96,97.,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,082"
97,98.,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,193"
98,99.,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,763"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [2]:
# Connecting to the browser
driver=webdriver.Chrome(r'C:\Users\Vishal Manoj\Downloads\Chrome\chromedriver.exe')

In [3]:
# Connecting to the webpage
url= 'https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(2)

In [4]:
# Getting to the webpage
t=driver.find_elements(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')

In [5]:
t[0].click()

In [18]:
# Scapping the information in the list

In [6]:
y=driver.find_elements(By.XPATH,'//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr//tbody//p')

In [8]:
u=driver.find_elements(By.XPATH,'//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')

In [9]:
w=driver.find_elements(By.XPATH,'//body/table[2]/tbody/tr/td[2]/table[2]/tbody//td[3]/p')

In [10]:
e=driver.find_elements(By.XPATH,'//body/table[2]/tbody/tr/td[2]/table[2]/tbody//td[4]/p')

In [11]:
v=driver.find_elements(By.XPATH,'/html//table[2]/tbody/tr/td[2]/table[2]/tbody//td[5]/p')

In [12]:
m=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody//td[6]/p')
k=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody//td[7]/p')

In [15]:
dn=[]
for i in range(0,622):
    dn.append(y[i].text)

In [13]:
dt=[]
t=[]
at=[]
ni=[]
na=[]
ye=[]
for i in range(1,623):
    dt.append(u[i].text)
    t.append(w[i].text)
    at.append(e[i].text)
    ni.append(v[i].text)
    na.append(m[i].text)
    ye.append(k[i].text)

In [16]:
# Buliding Dataset using scrapped information
j= pd.DataFrame(list(zip(dn,dt,t,at,ni,na,ye)),
               columns =['Dataset name', 'Data type', 'Task', 'Attribute type', 'No of instances', 'No of attribute','Year'])

In [17]:
j

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021